USE {{ keyspace }};
CONSISTENCY {{ consistency }};
ALTER KEYSPACE {{ keyspace }} WITH REPLICATION = { 'class': 'NetworkTopologyStrategy', 'dc-1': {{ replication_factor }}, 'dc-2': {{ replication_factor }} };
